*                           text        eol=lf

.gitattributes                          export-ignore
.gitignore                              export-ignore

package_control_channel.json            whitespace=-tab-in-indent,trailing-space,tabwidth=4
